hidden = [".config", "pnpm-lock.yaml", "tsconfig.json", ".gitignore"]
compile = "clear"
run = "pnpm run start"
modules = ["nodejs-20", "bash", "nix"]

[gitHubImport]
	requiredFiles = [".replit", "replit.nix", ".config", "package.json", "pnpm-lock.yaml"]



[nix]
channel = "stable-25_05"


[packager]
	language = "nodejs-pnpm"

	[packager.features]
		packageSearch = true
		guessImports = true
		enabledForHosting = true

[agent]
expertMode = true
